body{
    margin:0 auto;
    padding: auto;
    width: 1080;
    text-align: center;
}

.bg-gri{
    background-color: rgb(211, 210, 210);
}

.bg-blue{
    background-color: rgb(100, 188, 214);
}

.box-1{
    width: 31%;
    height: 120px;
    padding: 1%;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
}
.box-2{
    width: 350px;
    height: 30px;
    background-color: #fff;
    margin: auto;

}

.box-3{
    width: 200px;
    height: 30px;
    background-color: #fff;
    margin: auto;
    
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    list-style: none;
}

.clear{
    clear: both;
}